.mypage-list-content {
  .page-ttl {
    align-items: center;
    justify-content: space-between;

    .more-btn {
      width: 280px;

      a {
        border-radius: 45px;
      }
    }
  }

  .mypage-list {
    margin: 32px -1%;
    width: 102%;

    article {
      width: 24%;
      margin: 0.5% 0.5% 20px;

      .mypage-content {
        padding: 13px 10px;
        box-sizing: border-box;
        background: #fff;

        .mypage-update-date {
          margin: 12px 0 10px;
          font-size: 10px;
          letter-spacing: 0.1rem;
        }

        h2 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4;
        }

        P {
          margin: 10px 0;
          font-size: 12px;
          line-height: 1.6;
        }

        .mypage-content-link {
          justify-content: space-between;

          .more-btn-l {
            width: 40%;
          }

          .more-btn-r {
            width: 56%;
          }

          .more-btn {
            a {
              padding: 6px;
              font-size: 12px;

              &:after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}
