.l {
  &-hd {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;

    &-inn {
      width: 96%;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0 12px;

      @include mqSp() {
        width: 100%;
        padding: 7px 18px;
      }

      &-logo {
        max-width: 156px;
        width: 40%;
        margin: 0;
      }

      &-profile {
        max-width: 408px;
        width: 60%;
        justify-content: space-between;
        align-items: center;

        @include mqSp() {
          display: none;
        }

        &-points {
          width: 49%;

          p {
            background: #DAF2EF;

            .points-ttl {
              padding: 17px 5px;
              background: #008180;
              color: #fff;
              font-size: 12px;
              width: 45%;
              box-sizing: border-box;
              text-align: center;
            }

            .points-collection {
              padding: 17px 5px;
              box-sizing: border-box;
              text-align: center;
              width: 55%;
              font-size: 12px;
            }
          }
        }

        &-info {
          align-items: center;

          figure {
            max-width: 60px;
            margin-right: 10px;
          }

          &-txt {
            h2 {
              font-size: 16px;
              margin-bottom: 8px;
            }

            h3 {
              font-size: 12px;
            }
          }
        }
      }

      &-r {
        display: none;

        @include mqSp() {
          display: flex;
          align-items: center;
        }

        &-userimg {
          display: none;

          @include mqSp() {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-right: 15px;
          }
        }

        &-hamburgermenu {
          display: none;

          @include mqSp() {
            display: block;
          }

          .hamburger-menu {
            position: relative;
            width: 30px;
            height: 26px;
            z-index: 9999;

            span {
              position: absolute;
              left: 0px;
              display: block;
              width: 100%;
              height: 2px;
              background-color: #008180;

              &:first-child {
                top: 0;
              }

              &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
              }

              &:last-child {
                bottom: 0px;
              }
            }
          }

          .hamburger-menu.cross {
            span {
              &:first-child {
                transform: translateY(-50%) rotate(-45deg);
                -webkit-transform: translateY(-50%) rotate(-45deg);
                -moz-transform: translateY(-50%) rotate(-45deg);
                -ms-transform: translateY(-50%) rotate(-45deg);
                -o-transform: translateY(-50%) rotate(-45deg);
                top: 50%;
              }

              &:nth-child(2) {
                display: none;
              }

              &:last-child {
                transform: translateY(-50%) rotate(45deg);
                -webkit-transform: translateY(-50%) rotate(45deg);
                -moz-transform: translateY(-50%) rotate(45deg);
                -ms-transform: translateY(-50%) rotate(45deg);
                -o-transform: translateY(-50%) rotate(45deg);
                top: 50%;
              }
            }
          }
        }
      }
    }
  }
}
