aside {
  width: 260px;
  height: calc(100vh - 99.92px);
  position: fixed;
  top: 99.92px;
  background: #11A69C;
  overflow: auto;
  z-index: 1000;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;

  @include mqSp() {
    width: 210px;
    height: 100vh;
    left: -270px;
    top: 0px;
  }

  nav {
    ul {
      li {
        a {
          font-size: 15px;
          font-weight: 500;
          color: #fff;
          padding: 17px 10px 17px 28px;
          line-height: 1.4;
          align-items: center;
          background: #11A69C;

          @include mqSp() {
            font-size: 12px;
            padding: 17px 10px 17px 15px;
          }

          &.current {
            background: #008180;
          }

          &:hover {
            background: #23BCB2;
            color: #fff;
          }

          .nav-icon {
            width: 17px;
            margin-right: 13.5px;
            position: relative;
            top: -3px;
          }

          .side-nav-notificaiton {
            color: #ffffff;
            font-size: 10px;
            font-family: "Helvetica Neue", sans-serif;
            font-weight: 400;
            top: 10px;
            background: #E13A43;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: bottom;
            padding-top: 2px;
            box-sizing: border-box;
            opacity: 1 !important;
            display: block;
            letter-spacing: 0;
            position: absolute;
            top: 6px;
            left: 36px;
          }
        }
      }
    }
  }

  .main-side-bnr {
    width: 80%;
    margin: 17px auto;

    a {
      img {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

aside.active-aside {
  left: 0px;
}