.lecutre-list-content {
  .lecutre-list {
    margin: 32px -1%;
    width: 102%;

    article {
      width: 24%;
      margin: 0.5% 0.5% 20px;

      .lecutre-content {
        padding: 13px 10px;
        box-sizing: border-box;
        background: #fff;

        .lecutre-update-date {
          margin: 12px 0 10px;
          font-size: 10px;
          letter-spacing: 0.1rem;
        }

        h2 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4;
        }

        P {
          margin: 10px 0;
          font-size: 12px;
          line-height: 1.6;
        }

        .lecutre-content-link {
          justify-content: space-between;

          .more-btn-l {
            width: 40%;
          }

          .more-btn-r {
            width: 56%;
          }

          .more-btn {
            a {
              padding: 6px;
              font-size: 12px;

              &:after {
                content: none;
              }
            }
          }
        }
      }
    }
  }
}

.lecutre-details-content {
  .lecutre-details {
    article {
      width: 100%;
      margin: 0;

      .lecutre-thumbnail {
        max-width: 550px;
        width: 100%;
        margin: 30px 0;
      }

      .lecutre-content {
        padding: 30px 0;
        box-sizing: border-box;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -10%;
          width: 150%;
          height: 100%;
          background: #fff;
          z-index: -1;
        }

        &-entry {
          max-width: 550px;
          width: 100%;
          margin: 0;

          .lecutre-update-date {
            margin: 12px 0 10px;
            font-size: 10px;
            letter-spacing: 0.1rem;
          }

          h2 {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.4;
            border-bottom: 1px solid #707070;
            padding-bottom: 20px;
          }

          .lecturer-infornation {
            justify-content: space-between;
            align-items: center;

            h3 {
              margin-top: 22px;
              font-size: 16px;
              font-weight: 600;

              span {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.8;
              }
            }

            .lecturer-time {
              font-size: 14px;

              span {
                display: inline-block;
                padding: 8px;

                &.lecturer-time-ttl {
                  border: 1px solid #707070;
                }
              }
            }
          }

          P {
            margin: 18px 0 30px;
            font-size: 14px;
            line-height: 1.6;
          }

          .lecutre-content-link {
            .more-btn {
              width: 160px;

              a {
                padding: 10px;
                font-size: 16px;

                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .lecutre-recommended {
    &-list {
      margin: 32px 0;

      li {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        .lecutre-content {
          padding: 13px 10px;
          box-sizing: border-box;
          background: #fff;

          .lecutre-update-date {
            margin: 12px 0 10px;
            font-size: 10px;
            letter-spacing: 0.1rem;
          }

          h2 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
          }

          P {
            margin: 10px 0;
            font-size: 12px;
            line-height: 1.6;
          }

          .lecutre-content-link {
            justify-content: space-between;

            .more-btn-l {
              width: 40%;
            }

            .more-btn-r {
              width: 56%;
            }

            .more-btn {
              a {
                padding: 6px;
                font-size: 12px;

                &:after {
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
