.register-content {
  .mypage {
    &-wrap {
      width: 96%;
      margin: 40px 0 0;
      justify-content: space-between;
      align-items: center;

      @include mqSp {
        margin: 15px 0 0;
      }

      &-list {
        max-width: 680px;
        width: calc(100% - 90px);
        margin: 0;

        @include mqSp() {
          position: relative;
        }

        ul {
          li {
            width: 23%;
            font-size: 14px;
            font-weight: 600;
            color: #11A69C;
            text-align: center;
            padding: 11px 2px 9px;
            box-sizing: border-box;
            border: 2px solid #11A69C;
            border-radius: 10px;
            cursor: pointer;
            margin-right: 2%;

            @include mqSp() {
              width: 100%;
              border: unset;
              margin-right: 0px;
              text-align: left;
              padding-left: 15px;
            }

            &:last-child {
              margin-right: 0;
            }

            &:hover,
            &.tab-active {
              color: #fff;
              background: #11A69C;

              @include mqSp() {
                border-radius: unset;
                -webkit-border-radius: unset;
                -moz-border-radius: unset;
                -ms-border-radius: unset;
                -o-border-radius: unset;
              }
            }

            &.creditCard-infornation {
              width: 25%;
              padding: 10px 5px;
            }
          }
        }

        .select-styled {
          position: relative;
          color: #11A69C;
          font-size: 14px;
          font-weight: 600;
          width: 200px;
          background-color: #fff;
          padding: 8px 15px;
          border: 1px solid #11A69C;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 10px;
            width: 8px;
            height: 8px;
            border-top: 1px solid #333333;
            border-right: 1px solid #333333;
            transform: rotate(135deg) translateY(125%);
            -webkit-transform: rotate(135deg) translateY(125%);
            -moz-transform: rotate(135deg) translateY(125%);
            -ms-transform: rotate(135deg) translateY(125%);
            -o-transform: rotate(135deg) translateY(125%);
          }

          &:hover {
            background-color: #fff;
          }

          &:active,
          &.active {
            background-color: #fff;
          }
        }

        .select-options {
          display: none;
          position: absolute;
          width: 200px;
          top: 90%;
          right: 0;
          left: 0;
          z-index: 999;
          margin: 0;
          padding: 0;
          list-style: none;
          background-color: #fff;
          border: 1px solid #11A69C;
          border-top-width: 0px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          li {
            margin: 0;
            padding: 12px 0 12px 15px;

            &:hover {}

            &[rel="hide"] {
              display: none;
            }
          }
        }

      }

      &-logout {
        a {
          font-size: 12px;
          font-weight: 600;
          color: #11A69C;
        }

      }
    }

    &-personal-payment {
      overflow: hidden;
      border-radius: 30px;
      background: #fff;
      box-sizing: border-box;
      margin: 30px 0;
      overflow: auto;
      @include mqSsp() {
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
      }
      &-inn {
        padding: 30px 25px 55px;
        width: 1000px;
        table {
          width: 100%;

          thead {
            background: #F6F7F9;

            th {
              font-size: 14px;
              text-align: center;
              padding: 12px;

              &:first-child {
                overflow: hidden;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
              }

              &:last-child {
                overflow: hidden;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
              }
            }
          }

          tbody {
            td {
              font-size: 14px;
              text-align: center;
              padding: 30px 12px;
              border-bottom: 1px solid #EBEBEB;

              .unpaid {
                font-weight: bold;
                color: #11A69C;
              }

              a {
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    &-personal-card {
      padding: 30px 25px 55px;
      overflow: hidden;
      border-radius: 30px;
      background: #fff;
      box-sizing: border-box;
      margin: 30px 0;
      @include mqSsp() {
          padding: 30px 15px 55px;
      }
      @include mqSsp() {
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
      }

      h3 {
        font-size: 16px;
        font-weight: bold;
      }

      &-txt {
        p {
          span {
            display: block;
            font-size: 14px;
            margin-top: 10px;
          }
        }

        .more-btn02 {
          max-width: 100px;
          margin: 30px 0 0;
          text-align: left;

          a {
            border-radius: 10px;
            @include mqSp() {
                padding: 8px;
            }

            &:after {
              content: none;
            }
          }
        }
      }

      &.mypage-personal-cardEdit {
        input {
          display: block;
          width: 100%;
          margin: 20px 0;
          border-radius: 10px;
          padding: 12px 22px;
          border: 2px solid #F6F7F9;
          box-sizing: border-box;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          font-size: 14px;

          @include mqSp() {
            font-size: 16px;
          }

          &:focus {
            outline: none;
          }
        }

        .select-area {
          display: inline-block;
          position: relative;
          width: 48%;

          select {
            display: inline-block;
            width: 100%;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border-radius: 10px;
            padding: 13.5px 22px;
            border: 2px solid #F6F7F9;
            box-sizing: border-box;

            &:focus {
              outline: none;
            }
          }

          &:after {
            content: '';
            width: 6px;
            height: 6px;
            border: 0;
            border-top: solid 1px #000;
            border-right: solid 1px #000;
            -ms-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -6px;
          }
        }

        .submit-area-btn {
          text-align: left;

          button {
            width: 100px;
            margin: 0;
            border-radius: 10px;
          }
        }

        .addcard-date {
          justify-content: space-between;
        }

        .oldCard-edit {
          width: 310px;
          padding-right: 50px;
          margin-right: 50px;
          border-right: 1px solid #EBEBEB;

          @include mqSp() {
            width: 100%;
            padding-right: 0px;
            margin-right: 0px;
            border-right: unset;
            padding-bottom: 50px;
            border-bottom: 1px solid #EBEBEB;
          }

          dl {
            align-items: center;

            dt {
              font-size: 14px;
              background: #F6F7F9;
              padding: 12px 15px;
              width: 150px;
              margin: 5px 21px 5px 0;
              text-align: center;
              border-radius: 10px;
              color: #333333;

              @include mqSp() {
                width: 100%;
                margin: 5px 0;
              }
            }

            dd {
              width: calc(100% - 171px);
              box-sizing: border-box;
              font-size: 14px;
              margin: 5px 0;
              letter-spacing: 0;

              @include mqSp() {
                width: 100%;
                padding: 12px 15px;
              }
            }
          }

        }

        .newcard-add {
          width: 210px;
          @include mqSp() {
            width: 100%;
          }

          .mypage-personal-card-ttl {
            @include mqSp() {
              margin-top: 30px;
            }
          }

        }
      }
    }

    &-personal-points {
      padding: 30px 35px 55px;
      overflow: hidden;
      border-radius: 30px;
      background: #fff;
      box-sizing: border-box;
      margin: 30px 0;
      @include mqSp() {
        background: none;
        border-radius: 0;
        box-sizing: border-box;
        margin-top: 30px;
        padding: 0;
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      h4 {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 32px 15px;

        span {
          font-size: 26px;
          color: #11A69C;
          font-family: "Helvetica Neue";
        }
      }

      table {
        width: 100%;

        thead {
          background: #F6F7F9;

          th {
            font-size: 14px;
            text-align: center;
            padding: 12px;

            &:first-child {
              overflow: hidden;
              border-top-left-radius: 15px;
              border-bottom-left-radius: 15px;
            }

            &:last-child {
              overflow: hidden;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
            }
          }
        }

        tbody {
          td {
            font-size: 14px;
            text-align: center;
            padding: 30px 12px;
            border-bottom: 1px solid #EBEBEB;

            .unpaid {
              font-weight: bold;
              color: #11A69C;
            }

            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .display-flex{
        justify-content: space-between;
        @media(max-width: 750px) {
          display: block;
        }
      }
      dl{
        width: 49%;
        padding: 15px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 30px;
        margin: 0 0 2%;
        align-items: center;
        @media(max-width: 750px) {
          margin: 20px 0;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          @include mqSsp() {
              width: 100%;
          }
        }
        dt{
          width: 50%;
          margin: 5px 0;
          font-size: 14px;
          text-align: center;
          padding: 12px 0;
          background: #F6F7F9;
          border-radius: 15px;
          overflow: hidden;
          @include mqSsp() {
              border-radius: 8px;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              -ms-border-radius: 8px;
              -o-border-radius: 8px;
          }
          @include mqSsp() {
              width: 100%;
          }

        }
        dd{
          width: 50%;
          margin: 5px 0;
          font-size: 14px;
          text-align: center;
          padding: 12px 0;
          overflow: hidden;
          @include mqSsp() {
              width: 100%;
          }
        }
      }
    }
  }
}

.modal-finished.modal-finished-profile {
  .finished-dialog-box {
    .more-btn {
      a {
        &:hover {
          #refresh_path {
            transition: 0.5s;
            fill: #fff;
          }
        }

        svg {
          max-width: 18px;
          margin-bottom: -4px;
        }
      }
    }
  }
}

.modal-logout {
  position: relative;
  height: calc(100vh - 125.92px);
  overflow: hidden;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000066;
    z-index: 998;
  }

  .logout-dialog-box {
    position: absolute;
    top: 118px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    z-index: 999;
    overflow: hidden;
    border-radius: 30px;
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding: 47px 60px;
    text-align: center;

    @include mqSp() {
      padding: 30px 10px 35px;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      margin: 30px 0;
      @include mqSp() {
        margin: 20px 0;
      }
    }

    .more-fl {
      justify-content: space-between;

      @include mqSp() {
        flex-direction: column;
      }

      .more-btn {
        width: 48%;

        @include mqSp() {
          width: 100%;
          max-width: 180px;
          margin: auto;
        }

        &:last-child {
          @include mqSp() {
            margin-top: 20px;
          }
        }

        a {
          border-radius: 10px;
          letter-spacing: 0.12rem;

          &:after {
            content: none;
          }
        }
      }
      &.more-nfl {
        .more-btn {
          margin: auto;
        }
      }
    }
  }
}

.mypage-plan {
  .register-content {
    .register-infornation {
      form {
        .register-container-inn {
          dl {
            dd {
              p {
                width: 200px;
                border-radius: 10px;
                padding: 10px 15px;
                border: 2px solid #F6F7F9;
              }
            }
          }
        }

        .submit-area-btn {
          text-align: left;

          button {
            background: #11A69C;
            color: #fff;
            border-radius: 12px;
            width: 150px;

            &:hover {
              background: #fff;
              color: #11A69C;
            }
          }
        }
      }
    }
  }

  &.mypage-plan-change {
    .mypage-plan {
      overflow: hidden;
      border-radius: 30px;
      background: #fff;
      box-sizing: border-box;
      margin: 30px 0;
      @include mqSp() {
          border-radius: 10px;
       }

      h2 {
        font-size: 16px;
        padding: 24px 25px;
        text-align: left;
        background: #11a69c;
        color: #fff;
        font-weight: 600;
        @include mqSp() {
            padding: 15px;
        }
      }

      &-inn {
        margin: 25px;
        padding-bottom: 24px;
        border-bottom: 1px solid #707070;
        @include mqSp() {
            margin: 15px;
        }

        p {
          font-size: 14px;
          font-weight: 600;

          .entry-fee {
            margin-right: 20px;
          }

          strong {
            font-size: 26px;
            color: #008C8D;
          }

          small {
            font-size: 12px;
          }
        }

        h3 {
          font-size: 12px;
          font-weight: 600;
          margin-top: 25px;
        }

        ul {
          justify-content: space-between;
          max-width: 420px;

          @include mqSp() {
            flex-direction: column;
            max-width: unset;
            width: 100%;
          }

          li {
            width: 44%;
            font-size: 12px;
            margin: 10px 0 0;

            @include mqSp() {
              width: 100%;
            }

            &:nth-child(2n) {
              width: 49%;

              @include mqSp() {
                width: 100%;
              }
            }
          }
        }
      }

      .submit-area {
        justify-content: space-between;
        margin: 21px 20px 31px;
        align-items: center;

        @include mqSp() {
          flex-direction: column;
          align-items: flex-start;
          margin: 15px 15px 20px;
        }

        input {
          position: relative;
          top: 2px;
          width: 15px;
          height: 15px;
        }

        label {
          font-size: 14px;
          padding-left: 8px;

        }

        a {
          text-decoration: underline;
        }

        .check-required {
          top: -5px;
          right: -5px;
          position: relative;
          color: #f00;
          font-size: 10px;

        }
      }

      .submit-area-btn {
        text-align: left;

        @include mqSp() {
          margin: 30px auto 0px;
        }

        button {
          margin: 0;
          width: 150px;
          border-radius: 10px;
        }
      }
    }
  }
}
