.register-content {
  .register-infornation {
    form {
      .register-container {
        &-inn {
          overflow: hidden;
          border-radius: 30px;
          background: #fff;
          box-sizing: border-box;
          padding: 30px 37px;
          margin: 20px 0 30px;

          @include mqSp() {
            margin-top: 7px;
            margin-bottom: 0px;
            padding: 30px 15px 40px 15px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
          }

          .register-caution {
            p {
              margin-bottom: 20px;
              text-align: left;
              font-size: 16px;

              @include mqSp() {
                font-size: 16px;
                text-align: left;
                margin-top: 0px;
                margin-bottom: 25px;
              }

              span {
                color: #FF0000;
                font-size: 16px;
              }
            }
          }

          dl {
            dt {
              font-size: 14px;
              background: #F6F7F9;
              padding: 12px;
              width: 220px;
              margin: 5px 10px 5px 0;
              text-align: center;
              border-radius: 10px;
              color: #333333;
              max-height: 46px;
              box-sizing: border-box;
              letter-spacing: 0;
              position: relative;
              @include mqSp() {
                width: 100%;
                margin-right: 0;
                font-size: 16px;
              }

              .required {
                font-size: 12px;
                color: #FF0000;
                position: relative;
                top: -5px;
                right: -5px;

                @include mqSp() {
                  font-size: 10px;
                }
              }
            }

            dt.no-bg {
              padding: 0px !important;
              height: 0px !important;
              min-height: unset !important;
              background-color: transparent !important;
            }

            dd {
              width: calc(100% - 230px);
              box-sizing: border-box;
              font-size: 14px;
              margin: 5px 0;

              @include mqSp() {
                width: 100%;
                font-size: 16px;
              }

              input,
              p,
              tel,
              textarea {
                display: block;
                width: 100%;
                border-radius: 10px;
                padding: 13px 17px;
                border: 2px solid #F6F7F9;
                box-sizing: border-box;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                font-size: 14px;
                @include mqSp() {
                  font-size: 16px;
                  padding: 12px 17px;
                }
                &:focus {
                  outline: none;
                }
              }

              textarea {
                overflow: hidden;
                resize: none;
              }

              input::placeholder,
              span {
                font-size: 16px;
                color: #999999;
                display: block;
              }

              &.upload-filename {
                border: 2px solid #F6F7F9;
                border-radius: 10px;

                .upload-filename-txt {
                  padding: 15px;
                  height: 56px;
                  min-height: 56px;
                }
              }

              .select-area {
                display: inline-block;
                position: relative;
                margin-right: 10px;
                width: 133px;
                @include mqSp(){
                  width: 100px;
                  margin-right: 0;
                }
                @include mqSsp(){
                  width: 95px;
                  margin-right: 0;
                  margin-bottom: 5px;
                }
                select {
                  display: inline-block;
                  width: 100%;
                  appearance: none;
                  -moz-appearance: none;
                  -webkit-appearance: none;
                  border-radius: 10px;
                  padding: 15px;
                  border: 2px solid #F6F7F9;
                  box-sizing: border-box;
                  background: #fff;
                  @include mqSp(){
                    font-size: 16px;
                    padding: 12px 15px;
                  }
                  &:focus {
                    outline: none;
                  }
                }

                &:after {
                  content: '';
                  width: 6px;
                  height: 6px;
                  border: 0;
                  border-top: solid 1px #000;
                  border-right: solid 1px #000;
                  -ms-transform: rotate(135deg);
                  -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  margin-top: -6px;
                }
              }

              p {
                border: none;
              }
            }
          }

          .upload-area {
            margin: 15px 0 30px;

            &-post {
              border: none;
              position: relative;
              width: 150px;
              margin-left: 210px;
              background: #11A69C;
              border-radius: 10px;
              color: #fff;
              font-size: 14px;
              padding: 10px;

              @include mqSp() {
                margin-left: 0px;
              }

              input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                border: none;
              }
            }
          }

          .more-btn {
            margin-left: 20px;

            a {
              border-radius: 10px;
              padding: 10px 26px;

              &:after {
                content: none;
              }
            }
          }

          .legal-acceptance {
            font-size: 20px;
            position: relative;
            text-align: left;
            margin: 30px 0px;
            width: auto;
            letter-spacing: 0.2rem;
            line-height: 1;

            @include mqSp() {
              margin: 50px 0px;
              text-align: center;
            }

            span.required {
              position: relative;
              top: -5px;
              right: -5px;
              font-size: 10px;
              color: red;
            }

            a {
              text-decoration: underline;
            }

            input[type=checkbox] {
              opacity: 0;
              position: absolute;
              top: 3px;
              left: 0;
              z-index: 10;
              width: 20px;
              height: 20px;
              padding: 0;
              margin: 0;
            }

            label {
              box-sizing: border-box;
              cursor: pointer;
              display: inline-block;
              padding: 3px 0 0 35px;
              position: relative;
              width: auto;
              font-size: 14px;

              &:before {
                background: #fff;
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                border-radius: 5px;
                border: 1px solid #cccccc;
                box-sizing: border-box;
              }

              &:after {
                border-right: 2px solid #ffffff;
                border-bottom: 2px solid #ffffff;
                content: '';
                display: block;
                width: 5px;
                height: 9px;
                opacity: 0;
                position: absolute;
                top: 3px;
                left: 6px;
                transform: rotate(45deg);
              }
            }

            input[type=checkbox]:checked+label::before {
              background: #11a69c;
              border: 1px solid #11a69c;
            }

            input[type=checkbox]:checked+label::after {
              opacity: 1;
            }
          }

          .legal-acceptance.text-left {
            text-align: left;
          }

          .legal-acceptance.ml-15 {
            margin-left: 15px;
          }

          .legal-acceptance.confirm-accept {

            label {
              margin-left: 100px;

              &::before {
                display: none;
              }

              &::after {
                display: none;
              }

              @include mqSp() {
                margin-left: 0px;
                margin-top: 95px;
                margin-bottom: 50px;
                padding-left: 0px;
              }
            }
          }

          .legal-acceptance.confirm-accept.mt-30.text-left {
            padding-left: 15px;
          }
        }

        &-inn.mt-confirm {
          padding-top: 65px;
        }
      }

      &.confirm-container {
        .input-value {
          display: block;
          width: 100%;
          border-radius: 10px;
          padding: 12px 15px;
          box-sizing: border-box;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          color: #333333;

          @include mqSp() {
            font-size: 16px;
            font-weight: bold;
          }
        }

        .input-value.p-0 {
          @include mqSp() {
            padding: 0px;
          }
        }
      }

      &.mypage-container {
        .input-value {
          display: block;
          width: 100%;
          border-radius: 10px;
          padding: 12px 15px;
          box-sizing: border-box;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          color: #333333;
        }

        .w-sm {
          width: 200px !important;
        }

        .select {
          align-items: center;
          height: inherit;

          &-value {
            border-radius: 10px;
            font-size: 14px;
            min-width: 134px;
            padding: 12px 15px;
            color: #333333;
            border: 2px solid #F6F7F9;

            @include mqSp() {
              width: 31%;
            }

            &:nth-child(2) {
              @include mqSp() {
                margin: 0px 3.33%;
              }
            }

            &:focus,
            &:active,
            &:focus-visible {
              outline: none;
              border: 2px solid #F6F7F9;
            }

          }
        }

        .file_input {
          align-items: center;
          flex-wrap: nowrap;
          @include mqSp() {
            flex-wrap: wrap;
          }
        }

        .d-none {
          display: none;
        }

        .input_file_name {
          min-width: 200px;
          font-size: 14px;
          color: #999999;
          padding-left: 15px;

          @include mqSp() {
            min-width: unset;
            width: 100%;
            margin-bottom: 10px;
          }
        }

        .input_file_btn {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          color: #fff;
          font-size: 14px;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          background-color: #11A69C;
          border: 1px solid #11A69C;
          padding: 12px 20px;

          @include mqSp() {
            min-width: 140px;
          }
        }

        .submit-area-btn {
          max-width: unset;
          width: 100%;
          margin: 30px 0 0;
        }
      }

      .submit-area-btn {
        max-width: 270px;
        margin: 30px auto 60px;
        margin-bottom: 0px;
        justify-content: space-between;

        button {
          cursor: pointer;
          position: relative;
          width: 160px;
          margin: 0;
          display: inline-block;
          border-radius: 45px;
          background: #fff;
          color: #11a69c;

          @include mqSp() {
            width: 150px;
          }
          @include mqSsp() {
            width: 130px;
            margin: 10px 0;
          }
          &:hover {
            background: #11a69c;
            color: #fff;
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            width: 5px;
            height: 5px;
            border-top: 1px solid #11A69C;
            border-right: 1px solid #11A69C;
            transform: rotate(45deg) translateY(-80%);
            -webkit-transform: rotate(45deg) translateY(-80%);
            -moz-transform: rotate(45deg) translateY(-80%);
            -ms-transform: rotate(45deg) translateY(-80%);
            -o-transform: rotate(45deg) translateY(-80%);
          }

        }
        button.prev-btn {
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 15px;
            width: 5px;
            height: 5px;
            border-top: 1px solid #11A69C;
            border-left: 1px solid #11A69C;
            border-right: 0px;
            transform: rotate(-45deg) translateY(-80%);
            -webkit-transform: rotate(-45deg) translateY(-80%);
            -moz-transform: rotate(-45deg) translateY(-80%);
            -ms-transform: rotate(-45deg) translateY(-80%);
            -o-transform: rotate(-45deg) translateY(-80%);
          }

        }

        button.no-arw {
          &::after {
            display: none;
          }
        }
      }

      .submit-area-btn.b-center {
        justify-content: flex-start;
      }
    }
  }
}

.modal-finished {
  .finished-dialog-box {
    overflow: hidden;
    border-radius: 30px;
    background: #fff;
    box-sizing: border-box;
    padding: 30px 37px;
    margin: 20px 0 30px;

    @include mqSp() {
      margin-top: 7px;
      padding: 25px 15px 35px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }

    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #008C8D;
    }

    p {
      text-align: center;
      font-size: 16px;
      line-height: 2;
      margin: 30px 0;
    }

    .more-btn {
      max-width: unset;
      margin: auto;

      a {
        border-radius: 45px;
        letter-spacing: 0.12rem;
        width: auto;
        padding: 15px 41px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 1;

        &:after {
          content: none;
        }
      }
    }
  }
}

.register-content .register-infornation.contact-infornation form .register-container-inn .legal-acceptance {

  width: auto;

  @include mqSp() {
    margin: 50px 0px;
  }

  span.required {
    @include mqSp() {
      position: relative;
      top: -5px;
      right: -5px;
      font-size: 10px;
      color: #FF0000;
    }
  }

}
