.director-g-content {
  .director-g-wrap {
    margin: 15px 0 30px;
    overflow: hidden;
    border-radius: 30px;
    background: #fff;
    box-sizing: border-box;
    padding: 50px 40px;

    &-thumbnail {
      max-width: 700px;
      width: 90%;
      margin: 0 auto 50px;
    }

    &-text {
      h2 {
        font-size: 20px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        margin: 30px 0 20px;
        line-height: 1.8;
      }
    }

    &-ceo {
      max-width: 434px;
      margin: auto 0 auto auto;
      align-items: center;

      &-info {
        width: calc(100% - 160px);

        h3 {
          font-size: 14px;
          letter-spacing: 0;
        }

        h4 {
          text-align: right;
          font-size: 14px;
          font-weight: 600;
          margin-top: 10px;
        }
      }

      &-img {
        width: 130px;
        margin-left: 30px;
      }
    }
  }
}
