* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-variant-ligatures: none;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #F6F7F9;
  line-height: 1.6;
  letter-spacing: 0.08rem;
}

a,
a:hover {
  text-decoration: none;
  color: #231815;
  transition: 0.5s;
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.d-fl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sp {
  display: none;

  @include mqSp {
    display: block;
  }
}

.pc {
  display: block;

  @include mqSp {
    display: none;
  }
}

.site-main {
  .cd-content-wrapper {
    padding: 37px 50px 20px;
    overflow: hidden;
    margin-left: 260px;
    margin-top: 99.9219px;

    @include mqSp() {
      padding: 0px 20px;
      margin-top: 65px;
      margin-left: 0;
    }

    .cd-content-wrapper-inn {
      width: 100%;
      max-width: 1000px;
      margin: auto;
    }
  }
}

.cd-siteMap.breadcrumbs {
  font-size: 10px;
  color: #999999;
  margin: 20px auto;

  @include mqSp() {
    color: #333333;
    display: flex;
    padding: 17px 0px;
    margin: 0px;
    flex-wrap: wrap;
  }

  a {
    color: #999999;

    &:hover {
      text-decoration: underline;
    }
  }

  a.home {
    text-decoration: underline;
  }

  span.breadcrumbs-label {
    padding: 10px;

    img {
      width: 10px;
      height: 10px;
    }
  }
}


.page-ttl {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1rem;

  @include mqSp() {
    color: #333333;
    font-size: 18px;
  }
}

.more-btn {
  text-align: center;

  a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #11A69C;
    border: 2px solid #11A69C;
    box-sizing: border-box;
    position: relative;

    &:after {
      content: '';
      width: 5px;
      height: 5px;
      border: 0px;
      border-top: solid 1px #11A69C;
      border-right: solid 1px #11A69C;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 16px;
      margin-top: -3px;
    }

    &:hover {
      color: #fff;
      border: 2px solid #11A69C;
      background: #11A69C;

      &:after {
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
      }
    }
  }
}

.more-btn02 {
  a {
    color: #fff;
    border: 2px solid #11A69C;
    background: #11A69C;

    &:hover {
      color: #11A69C;
      border: 2px solid #11A69C;
      background: #fff;
    }
  }
}

.submit-area-btn {
  text-align: center;

  button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 auto;
    display: block;
    background: #11A69C;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    border: 1px solid #11A69C;

    &:hover {
      background: #fff;
      color: #11A69C;

    }

  }

  &.submit-area-btn02 {
    button {
      background: #11A69C;
      color: #fff;

      &:hover {
        background: #fff;
        color: #11A69C;

      }
    }
  }
}

.pagination-pagenavi {
  padding: 30px 0;
  text-align: center;

  a,
  span {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    margin: 2px;
    font-size: 14px;
    font-family: "Manrope-SemiBold", sans-serif;

    &.current,
    &:hover {
      color: #11A69C;
      font-size: 14px;

      &.previouspostslink,
      &.nextpostslink {
        background: #fff;
        border-radius: 50%;

        svg {
          #next {
            fill: #000 !important;
          }
        }
      }
    }
  }
}

.mx-unset {
  max-width: unset !important;
}

.text-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0px !important;

  &-sp {
    @include mqSp() {
      margin-bottom: 0px !important;
    }
  }
}

.pt-0 {
  padding-top: 0px !important;

  &-sp {
    @include mqSp() {
      padding-top: 0px !important;
    }
  }
}


.pl-0 {
  padding-left: 0px !important;
}

.px-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;

  &-sp {
    @include mqSp() {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

.my-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;

  &-sp {
    @include mqSp() {
      margin-top: 20px !important;
    }
  }
}

.mr-0 {
  margin-right: 0px !important;

  &-sp {
    @include mqSp() {
      margin-right: 0px !important;
    }
  }
}

.ml-0 {
  margin-left: 0px !important;

  &-sp {
    @include mqSp() {
      margin-left: 0px !important;
    }
  }
}

.mt-0 {
  margin-top: 0px !important;

  &-sp {
    @include mqSp() {
      margin-top: 0px !important;
    }
  }
}

.m-0 {
  margin: 0px !important;

  &-sp {
    @include mqSp() {
      margin: 0px !important;
    }
  }
}


.w-100 {
  width: 100% !important;
}

.b-shadow {
  box-shadow: 0 0 20px rgba(188, 188, 188, 0.3);
}

.j-c-c {
  justify-content: center !important;

  &-sp {
    @include mqSp() {
      justify-content: center !important;
    }
  }
}

.j-c-b {
  justify-content: space-between !important;

  &-sp {
    @include mqSp() {
      justify-content: space-between !important;
    }
  }
}

.d-i-block {
  display: inline-block !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mx-auto-sp {
  @include mqSp() {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
