.l {
  &-ft {
    margin-left: 260px;

    &-inn {
      width: 98%;
      margin: auto;

      p {
        font-size: 10px;
        font-family: "Helvetica Neue" ,sans-serif;
        font-weight: 400;
        padding-bottom: 15px;
        text-align: right;
      }
    }
  }
}
