.login-content {
  &-inn {
    max-width: 500px;
    width: 100%;
    margin: 150px auto 30px;
    overflow: hidden;
    border-radius: 30px;
    background: #fff;
    box-sizing: border-box;
    padding: 34px;
    .page-ttl{
      text-align: center;
      margin-bottom: 32px;
    }
    form {
      .password-txt{
        text-align: left;
        font-size: 14px;
        font-weight: 400;
      }
      input{
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 12px 15px;
        border: 2px solid #F6F7F9;
        box-sizing: border-box;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 16px;
        margin: 15px 0;
        &:focus {
          outline: none;
        }
      }
      .submit-area-btn{
        margin: 25px 0 0;
        button{
          width: 160px;
          font-size: 20px;
          border-radius: 45px;
        }
      }
    }
  }
  p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 25px 0 0;
    a{
      text-decoration: underline;
    }
  }
}
