.pp-wrap {
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;

  &-text {
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.6;
      @include mqSsp(){
        font-size: 16px;
      }
    }

    p {
      font-size: 14px;
      margin: 35px 0 50px;
      line-height: 1.6;
      @include mqSsp(){
        margin: 30px 0 35px;
      }
      &.float-right {
        text-align: right;
        margin: 0;

        &.float-right-last {
          margin-top: -20px;
        }
      }

      &.no-margin {
        margin: 20px 0;
      }
    }

    ol {
      margin: 20px 0 50px 40px;
      list-style-type: decimal;
      @include mqSsp(){
        margin: 20px 0 30px 20px;
      }

      li {
        font-size: 14px;
        line-height: 1.6;
      }
    }

    ul {
      margin-left: 20px;
      @include mqSsp(){
        margin-left: 0;
      }
      li{
        ul{
          @include mqSsp(){
            margin-left: 10px;
          }
        }
      }
    }
  }

  &.pp-wrap-c {

    .pp-wrap-text {
      &-inn{
        margin: 35px 0 51px;
        @include mqSsp(){
          margin: 30px 0;
        }
      }
      .no-margin {
        margin-bottom: 0;
      }
      .no-margin-top {
        margin-top: 10px;
      }

      p {
        margin: 21px 0;
      }

      ol {
        margin: 15px 0 15px 40px;
        @include mqSsp(){
          margin: 15px 0 15px 28px;
        }
      }
    }
  }
}
