.pp-content {
  .pp-wrap {
    margin: 15px 0 30px;
    overflow: hidden;
    border-radius: 30px;
    background: #fff;
    box-sizing: border-box;
    padding: 50px 40px;

    &-text {
      h2 {
        font-size: 20px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        margin: 20px 0 50px;
        line-height: 1.6;

        &.float-right {
          text-align: right;
          margin: 0;

          &.float-right-last {
            margin-top: -20px;
          }
        }

        &.no-margin {
          margin: 20px 0;
        }
      }

      ol {
        margin: 20px 0 50px 40px;
        list-style-type: decimal;

        li {
          font-size: 14px;
          line-height: 1.6;
        }
      }

      ul {
        margin-left: 20px;
      }
    }

    &.pp-wrap-c {
      padding: 30px 35px;

      .pp-wrap-text {
        .no-margin {
          margin-bottom: 0;
        }

        p {
          margin: 56px 0;
        }

        ol {
          margin: 15px 0 15px 40px;
        }
      }
    }
  }
}
