.main-content-area.register-page{
  width: 100%;
  .main-content-area-inn{
    width: 100%;
    margin: auto;
    padding-top: 40px;
    .register-wrap{
      form {
        .register-container {
          &-inn {
            background: #fff;
            box-sizing: border-box;
            margin: 30px 0;

            .register-caution {
              p {
                margin: 0 0 30px;
                text-align: left;
                font-size: 14px;

                span {
                  color: #ff0000;
                }
              }
            }

            dl {
              dt {
                font-size: 14px;
                background: #F6F7F9;
                padding: 13px 15px;
                width: 210px;
                margin: 5px 10px 5px 0;
                text-align: center;
                border-radius: 10px;
                color: #333333;
                line-height: 1.6;
                letter-spacing: -1px;
                @include mqSsp(){
                  width: 100%;
                  margin: 5px 0;
                  padding: 10px 15px;
                  font-size: 16px;
                }
                .required {
                  font-size: 12px;
                  color: #FF0000;
                  position: relative;
                  top: -5px;
                  right: -5px;
                }
              }

              dd {
                width: calc(100% - 220px);
                box-sizing: border-box;
                font-size: 16px;
                margin: 5px 0;
                @include mqSsp(){
                  width: 100%;
                }
                input,
                p,
                tel,
                textarea {
                  display: block;
                  width: 100%;
                  border-radius: 10px;
                  padding: 15px 25px;
                  border: 2px solid #F6F7F9;
                  box-sizing: border-box;
                  appearance: none;
                  -moz-appearance: none;
                  -webkit-appearance: none;
                  font-size: 14px;
                  @include mqSp(){
                    font-size: 16px;
                    line-height: 1.6;
                    padding: 8px 15px;
                  }
                  &:focus {
                    outline: none;
                  }
                }
                textarea {
                  overflow: hidden;
                  resize: none;
                }

                input::placeholder,
                span {
                  font-size: 14px;
                  color: #999999;
                  display: block;
                }

                &.upload-filename {
                  border: 2px solid #F6F7F9;
                  border-radius: 10px;

                  .upload-filename-txt {
                    padding: 15px;
                    height: 56px;
                  }
                }
                .select-area {
                  display: inline-block;
                  position: relative;
                  margin-right: 10px;
                  width: 133px;
                  @include mqSp(){
                    width: 100px;
                    margin-right: 0;
                  }
                  select {
                    display: inline-block;
                    width: 100%;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    border-radius: 10px;
                    padding: 15px;
                    border: 2px solid #F6F7F9;
                    box-sizing: border-box;
                    background: #fff;
                    @include mqSp(){
                      font-size: 16px;
                      padding: 12px 15px;
                    }
                    &:focus {
                      outline: none;
                    }
                  }

                  &:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    border: 0;
                    border-top: solid 1px #000;
                    border-right: solid 1px #000;
                    -ms-transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    margin-top: -6px;
                  }
                }

                p {
                  border: none;
                }
                &.dob-flex{
                  @include mqSp(){
                    display: flex;
                    justify-content: space-between;
                  }
                }
              }
            }

            .upload-area {
              &-post {
                border: none;
                position: relative;
                width: 150px;
                margin-left: 0;
                background: #11A69C;
                border-radius: 10px;
                color: #fff;
                font-size: 14px;
                padding: 17px;
                @include mqSp(){
                  font-size: 16px;
                  padding: 14.5px;
                }

                input {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  border: none;
                }
              }
            }

            .more-btn {
              margin-left: 20px;

              a {
                border-radius: 10px;
                padding: 10px 26px;

                &:after {
                  content: none;
                }
              }
            }

            .legal-acceptance {
              font-size: 20px;
              position: relative;
              margin: 40px 0;
              letter-spacing: 0.2rem;
              line-height: 1;
              text-align: left;
              @include mqSp(){
                width: 90%;
                margin: 40px auto;
              }
              a {
                text-decoration: underline;
              }

              input[type=checkbox] {
                opacity: 0;
                position: absolute;
                top: 3px;
                left: 0;
                z-index: 10;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
              }

              label {
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                padding: 3px 0 0 35px;
                position: relative;
                width: auto;
                font-size: 14px;
                letter-spacing: 1px;
                @include mqSp(){
                  padding: 3px 0 0 30px;
                }

                &:before {
                  background: #fff;
                  content: '';
                  display: block;
                  width: 20px;
                  height: 20px;
                  left: 0px;
                  position: absolute;
                  top: 0;
                  border-radius: 5px;
                  border: 1px solid #cccccc;
                  box-sizing: border-box;
                }

                &:after {
                  border-right: 2px solid #ffffff;
                  border-bottom: 2px solid #ffffff;
                  content: '';
                  display: block;
                  width: 5px;
                  height: 9px;
                  opacity: 0;
                  position: absolute;
                  top: 3px;
                  left: 6px;
                  transform: rotate(45deg);
                }
              }
              input[type=checkbox]:checked + label::before {
                background: #11a69c;
                border: 1px solid #11a69c;
              }

              input[type=checkbox]:checked + label::after {
                opacity: 1;
              }
            }
          }
        }

        &.mypage-container {
          .input-value {
            display: block;
            width: 100%;
            border-radius: 10px;
            padding: 15px 25px;
            box-sizing: border-box;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            color: #333333;
          }
          .submit-area-btn{
              max-width: unset;
              margin: 30px auto 0;
          }
        }
        &.confirm-container {
          .input-value {
            display: block;
            width: 100%;
            border-radius: 10px;
            padding: 15px 25px;
            box-sizing: border-box;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            color: #333333;
            font-weight: bold;
            @include mqSp(){
              padding: 15px;
            }
          }
        }
        .submit-area-btn {
          max-width: 464px;
          margin: 30px 0 60px;
          justify-content: space-between;
          text-align: left;
          @include mqSsp(){
            max-width: 212px;
            margin: 30px auto 60px;
            display: block;
          }
          button {
            width: 212px;
            margin: 0;
            display: inline-block;
            background: #11a69c;
            color: #fff;
            padding: 11px 0;
            &:after{
              content: "";
              position: absolute;
              top: 0;
              bottom: .1em;
              right: 27px;
              margin: auto;
              width: .3em;
              height: .3em;
              border-top: .05em solid #fff;
              border-right: .05em solid #fff;
              transform: rotate(45deg);
            }
            &:hover {
              background: #fff;
              color: #11a69c;
              &:after{
                border-top: .05em solid #11a69c;
                border-right: .05em solid #11a69c;
              }
            }
            &.back{
              background: #F6F7F9;
              border: 1px solid #F6F7F9;
              color: #000;
              @include mqSsp(){
                margin: 20px 0;
              }
              &:after{
                right: unset;
                left: 27px;
                border-top: .05em solid #000;
                border-right: .05em solid #000;
                transform: rotate(-135deg);
              }
              &:hover {
                background: #000;
                color: #fff;
                border: 1px solid #000;
                &:after{
                  border-top: .05em solid #F6F7F9;
                  border-right: .05em solid #F6F7F9;
                }
              }
            }
          }
        }
      }
    }
  }
}
input::placeholder {
  color: #999999;
}
.finished-dialog-box {
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  margin: 30px 0;
  h2{
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
    color: #008C8D;
    @include mqSsp(){
      letter-spacing: 0;
      font-size: 22px;
      line-height: 1.4;
    }
    span.entry-name{
      font-size: 18px;
      display: block;
      text-align:center;
      line-height: 1;
      padding-bottom: 20px;
      color: #000;
    }
  }
  p {
    text-align: center;
    font-size: 16px;
    line-height: 2;
    margin: 40px 0;
    @include mqSsp(){
      line-height: 1.6;
      margin: 30px 0;
    }
  }
  .more-btn.more-btn02 {
    max-width: unset;
    margin: auto;
    a {
      width: 212px;
      border-radius: 0;
      letter-spacing: 0.12rem;
      padding: 15px 41px;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 1;
      &:after {
        right: 27px;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
      }
      &:hover{
        &:after {
          border-top: solid 1px #008C8D;
          border-right: solid 1px #008C8D;
        }
      }
    }
  }
}
