* {
    margin: 0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-variant-ligatures: none;
    font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.05rem;
}
a,a:hover {
    text-decoration: none;
    color: #231815;
    transition: 0.5s;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

.d-fl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sp{
    display: none;
    @include mqSp{
        display: block;
    }
}

.pc{
    display: block;
    @include mqSp{
        display:none;
    }
}
.cd-content-wrapper{
  margin-top: 110px;
}
.page-ttl{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.more-btn{
  text-align: center;
  a{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #11A69C;
    border: 2px solid #11A69C;
    box-sizing: border-box;
    position: relative;
    &:after{
      content: '';
      width: 5px;
      height: 5px;
      border: 0px;
      border-top: solid 1px #11A69C;
      border-right: solid 1px #11A69C;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -3px;
    }
    &:hover{
      color: #fff;
      border: 2px solid #11A69C;
      background: #11A69C;
      &:after{
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
      }
    }
  }
}
.more-btn02{
  a{
    color: #fff;
    border: 2px solid #11A69C;
    background: #11A69C;
    &:hover{
      color: #11A69C;
      border: 2px solid #11A69C;
      background: #fff;
    }
  }
}

.submit-area-btn{
  text-align: center;
  button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 auto;
    display: block;
    background: #11A69C;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 0;
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    border: 1px solid #11A69C;
    &:hover{
      background: #fff;
      color: #11A69C;

    }

  }
  &.submit-area-btn02{
    button{
      background: #11A69C;
      color: #fff;
      &:hover{
        background: #fff;
        color: #11A69C;

      }
    }
  }
}
