// header
@import 'content/header';

// footer
@import 'content/footer';

// navigation
@import 'content/navigation';
@import 'content/navigation-sp';

// news
@import 'content/page-news-list';
@import 'content/page-news-details';
@import 'content/page-lecture';
@import 'content/page-journal';
@import 'content/page-register';
@import 'content/page-login';
@import 'content/page-mypage';
@import 'content/page-director';
@import 'content/page-pp';